// out: null
span:hover {
  cursor: pointer;
  color:#F47E14;
}
/* #tree span.hover, для приоритета перед :hover также добавлен подселектор */

li.hover span,
li.hover span:hover {
  border-top: 1px dotted #F47E14;
  color: #F47E14;
  cursor: pointer;
}

span.avatar{
	font-weight: bold;
	color:#fff;
}
.displayHide{
	display: none;
}

body{
	background-color:#E2E2E2; 
	padding: 0;
	margin: 0;
	height: 100%; 
	widows: 100%;
	font-family: Verdana, Geneva, sans-serif;
}	
.main{
	display: flex;
	height: 100%; 
	widows: 100%;
	align-items: stretch;
}
.section{
	padding: 0px;
	padding: 0;
	margin: 0;
}
.title{
	text-align: center;
} 
.title_size_m{
	padding:2vw 3vw;
	font-size: 2vw;
}
.title_size_s{
	padding:2vw 1vw;
	font-size: 1.5vw;
}
.button{
	transition: 0.3s;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	&:hover{
		background-color:#F47E14;
	}
	&:focus{
		box-shadow: 0px 0px 2px 2px #F47E14;
	}
}

//section staff
//==================================
.section_staff{
	background-color:#01ABAA;
	color:#fff;
	text-align: center;
	position:relative;
	height: 100%;
}
.list-workers{
	text-align: left;
	font-size: 1vw;
	padding: 0 0 1vw 3vw;	
	li{
		position:relative;
		margin: 1vw 0;
		padding-right:10vw;
	}
	li:hover{
		.staff__button{
			opacity: 1;
			
		}
	}

}
.list-workers__worker{
	display: inline-block;
	//margin-top: -20px;
	margin-right: 4vw;
	line-height: 1vw;

}

.staff__button{
	position: absolute;
	top: -0.5vw;
	opacity: 0.1;
	color: #6D6D77;
	background-color:#fff;
	width: 2vw;
	height: 2vw;
	margin: 0.1vw;
	.button;
}
.staff__button_plus{
	right: 6vw;
	background-image: url(../i/plus-icon-staff.png);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.staff__button_edit{
	right: 3.5vw;
	background-image: url(../i/edit-icon-staff.png);
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.staff__button_delete{
	right: 1vw;
	background-image: url(../i/del-icon-staff.png);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.staff__button_save{
	right: 3.5vw;
	background-image: url(../i/save-icon-staff.png);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.staff__button_cancel{
	right: 1vw;
	background-image: url(../i/cancel-icon-staff.png);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.list-positions{
	background-color: #fff;
	padding: 5px 30px;
	color: #000;
	border-radius: 3px;
    position: relative;
}
.list-positions::before, .list-positions::after {
    content: ''; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    bottom: -1.4vw;
    border: 1vw solid transparent;
    border-top: 1vw solid #fff;
}


.staff__input_edit{
	width: 20vw;
	height: 1.5vw;
	background-color:#0C9291;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 0.2vw 0.5vw;
}
.section_staff__button_add-worker{
	color: #6D6D77;
	font-size: 1vw;
	background-color:#fff;
	width: 15vw;
	height: 2vw;
}




//section calendar
//==================================
.section_calendar{
	flex-grow: 2;
	text-align: center;
}
.section_calendar__str-date{
	padding: 2vw 0;
	label input[type="radio"] {
	  display: none;
	}
	label input[type="radio"] ~ span {
	  position: relative;
	  display: inline-block;
	  padding: 0vw 1vw;
	}
	label input[type="radio"] ~ span:before {
	  content: "";
	  position: absolute;
	  display: block;
	  width: 1.5vw;
	  height: 1.5vw;
	  background: #fff;
	  border: 1px solid #ccc;
	  border-radius: 50%;
	  left: 0.2vw;
	  top: -1.1vw;
	  box-sizing: border-box;
	  transition: all 300ms ease-in-out;
	}
	label input[type="radio"]:checked ~ span:before {
	  border: 0.3vw solid #0C9291;
	}
}
.section_calendar__select-month{
    width: 10vw;
	height: 2vw;
	background-color:#fff;
	color: #6D6D77;
	border: none;
	font-size: 1vw;
	border-radius: 3px;
	padding: 0.2vw 0.5vw;
}
.section_calendar__radio{
	font-size: 1vw;
	&:hover{
		color:#F47E14;
		cursor: pointer;
	}
}
.section_calendar__button_change{
	margin-left: 1vw;
	color: #fff;
	font-size: 1vw;
	background-color:#0C9291;
	width: 10vw;
	height: 2vw;
}
.section_calendar__table{
	table{
		width: 100%;
		font-size: 1vw;
		padding: 0;
		border-collapse:collapse;
	}
	tr{
		padding: 0;
	}
	th{
		padding-bottom: 1vw;
	}
	td{
		cursor: pointer;
		transition: 0.5s;
		width: calc(100%/7);
		height: 5vw;
		//border: 1px solid #000;
		position:relative;
		color: #0C9291;
		font-size: 3vw;
		&:hover{
			background-color:#0C9291;
			color: #fff;
		}
		img{
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			width: 2vw;
			height: 2vw;
			font-size: 0.5vw;
		}
		.schedule-list__digit{
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 0px;
			width: 0.8vw;
			height: 0.8vw;
			font-size: 0.8vw;
			padding: 0.1vw 0.1vw ;
			color: #fff;
			background-color:#F47E14;
			border: 1px solid #0C9291;
		}
	}
	.calendar__ceil_gray{
		color: #ccc;
		&:hover{
			background-color:#ccc;
			color: #ccc;
		}
	}
}
.section_calendar__create_schedule{	
	margin: 2vw 0 0 0;
	color: #fff;
	font-size: 1.5vw;
	background-color:#0C9291;
	width: 25vw;
	height: 3vw;
}
.section_calendar__schedule-list{
	position:fixed;
	z-index: 9999;
	width: 9.7vw;
	height: 7vw;
	background-color: #fff;
	border-radius: 3px;
	line-height: 0;
	text-align: center;
	img{
		cursor: pointer;
		width: 2vw;
		height: 2vw;
		font-size: 0.5vw;
	}
}
.section_calendar__schedule-list::before, .section_calendar__schedule-list::after {
    content: ''; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    bottom: -1.4vw;
    border: 1vw solid transparent;
    border-top: 1vw solid #fff;
}
.schedule-list__digit{
	border-radius: 3px;
	width: 1vw;
	height: 1vw;
	font-size: 0.8vw;
	line-height: 0.8vw;
	padding: 0.3vw 0.3vw;
	margin: 0vw;
	display: inline-block;
	color: #fff;
	background-color:#F47E14;
	margin: 0.2vw;
	border: 1px solid #F47E14;
	&:hover{
		background-color:#fff;
		color: #F47E14;
	}
}
